<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      
      
<ion-slide-box on-slide-changed="slideHasChanged($index)" class="front-Slider">
  <ion-slide>
    <div class="col col-center slider-col">
      	<img ng-src="img/logo.png" class="app_logo">
        <h3 class="pl_for">A Creative Platform for<br>Creative People</h3>
    </div>    
  </ion-slide>
  
  <ion-slide>
    <div class="col col-center slider-col">      	
        <h3 class="pl_for">Video page including the website.</h3>
        <img ng-src="img/slider-2.png" class="slider_fraim">
    </div>
  </ion-slide>
  
  <ion-slide>
    <div class="col col-center slider-col">      	
        <h3 class="pl_for">Create Your Profile</h3>
        <img ng-src="img/slider-3.png" class="slider_fraim">
    </div>
  </ion-slide>
  <ion-slide>
    <div class="col col-center slider-col">      	
        <h3 class="pl_for">Find Opportunities</h3>
        <img ng-src="img/slider-4.png" class="slider_fraim">
    </div>
  </ion-slide>    
  <ion-slide>
    <div class="col col-center slider-col">      	
        <h3 class="pl_for">Keep in touch with Your Connections</h3>
        <img ng-src="img/slider-5.png" class="slider_fraim">
    </div>
  </ion-slide>       
</ion-slide-box>


      
      
      
      
      
      
      
    </div>    
      
      
    <div class="bottom-content row">
      <div class="col col-center"><a class="sign-up button button-block button-stable" ui-sref="auth.Registration_choice">JOIN NOW</a></div>
    </div>
    <ion-footer-bar class="bar-positive tabs tabs-stable">
    	<a class="tab-item tab-item-active" ui-sref="common.login">SIGN IN</a>
    </ion-footer-bar> 
      
  </ion-content>
</ion-view>
