<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">
<!--
<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>    
    </div>
</div>-->

<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	<!--<div class="col-50" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons" ui-sref="common.chat_">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>-->
    <div class="col header_right_creoyou">
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
       <!-- <a class="notification" ng-click="popover.show($event)">
        </a>-->
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" >
              Post Job
            </a>
            <a class="item" >
              Jobs
            </a>
            <a class="item" >
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" >
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>

</ion-header-bar>
  <ion-content scroll="true">

 <md-content>
     
   	    <md-tabs md-dynamic-height md-border-bottom stretchTabs flex class="About_me_tab">
      
          
      
      <md-tab label="Portfolio">
        <md-content class="" scroll="y" layout="column">
           
            
                
                <md-tabs md-dynamic-height md-border-bottom stretchTabs flex class="album_tab">
                    <md-tab label="Photo">      
                        <md-content class="" scroll="y" layout="column">
                            <div 
                                 class="tab_body">    
                                
                
                                <div class="row" style="flex-wrap: wrap;">
                   
                    <div class="col col-50"ng-repeat="folder in folders" >
                        <a href="#">
                        <div class="folder" ng-click="showPopup()">
                            <img ng-src="{{folder.src}}"  src="{{folder.src}}" class="album_image"/> 
                            <div class="folder_desc">
                                <div class="album_name"> {{folder.alname}}</div>
                                
                            </div>
                        </div>    
                        </a>                            
                    </div>
                </div>
                           
                                  
                            </div>
                        </md-content>
                    </md-tab>
                    
                </md-tabs>    
                         
            
        </md-content>
      </md-tab>
      
      
      
    </md-tabs>
      </md-content> 
      

	  

 
  </ion-content>

    
    

    
</ion-view>
