<ion-view class="walkthrough-view multi-bg-outer" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">
<!--
<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
    
    </div>
</div>-->

<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	<!--<div class="col-50" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons" ui-sref="common.chat_">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>-->
    <div class="col header_right_creoyou" ng-controller="refresh_control" >
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message" ng-click="msg"><span class="info">{{count}}</span></a>
       
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>

</ion-header-bar>
  
  <ion-content scroll="true">
       <div id="load" ng-show="log1">Uploading...</div> 
      <div class="back"> 
          <button ng-controller="Arrowctrl" ng-click="arrowback()"><i class="material-icons">arrow_back</i> Compose</button> 
          <button  style="float:right" ng-click=savealbum(alname,aldesc) ><i class="material-icons">done</i> Save</button>
      </div>
      
      <div class="post_top_bar"> 
          <button><i class="material-icons">lock</i> Set privacy</button> 
          <button style="float:right" ng-click=privacy()> Public <i class="material-icons">arrow_drop_down</i></button>
          
      </div>

      
      <div class="card">      
            <div class="compose_message_body">
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Album Name</span>
    <input type="text" placeholder="Untitled Album" ng-model="alname" ng-readonly="true">
  </label>
  <label class="item item-input item-floating-label">
    <textarea name="comment" id="" placeholder="Add a description... " ng-model="aldesc" ng-readonly="true"></textarea>
  </label>
    
  <div class="upload_photo">
      
      
      
<ion-scroll zooming="true" direction="x" style="width: 100%; height: auto">
        <div style="width:100%; height: auto">
           
            <ul class="post_pro_list row">
                <li class="col col-25" ng-repeat="image in images1">
                    <div class="post_pro_img" >
                        <img src="{{image.src}}" class="fluid-image">
                              
                    </div>                                        
                </li>
                
            </ul>
            
        </div>
</ion-scroll>      
      
      
   
      
      
      
      
      <button ng-click="imageupload()"><i class="material-icons">add_a_photo</i><span>Add Photo</span></button>      
  </div>
    
</div>
          
      </div>
      </div>
      
  </ion-content>

  
    
</ion-view>
