<ion-view >
  <ion-content><!--
<div id="calendar"></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>-->
      
         <div class="back"> <button ng-controller="Arrowctrl" ng-click="arrowback()"><i class="material-icons">arrow_back</i> Event Calender</button> </div> 
       <div data-role="page" id="index">
    
        
        
        <div data-role="content">       
            <div id='calendar' style="width:100%;"></div>
        </div><!-- /content -->
    
    </div><!-- /page -->
  </ion-content>
</ion-view>