<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">
<!--
<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
    
    </div>
</div>-->

<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	<!--<div class="col-50" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons" ui-sref="common.chat_">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>-->
    <div class="col header_right_creoyou" ng-controller="refresh_control">
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">{{count}}</span></a>
       <!-- <a class="notification" ng-click="popover.show($event)">
        </a>-->
         <a class="top_settings"ng-controller="Headercontroler" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>

</ion-header-bar>
  
  <ion-content scroll="true">
          <ion-refresher ng-controller="pullctrl" pulling-text="Pull to refresh"
         refreshing-text="Loading..."
         refreshing-icon="ion-loading-c"
       
         on-refresh="doRefresh()">
         </ion-refresher>
      <div class="back"> <button ng-controller="Arrowctrl" ng-click="arrowback()"><i class="material-icons">arrow_back</i> Messages</button> </div>

      <div class="chat_user_search">
        <input type="search" placeholder="Search"   ng-model="filter">
          <!-- <button ng-if="search.length" class="button button-icon ion-android-close input-button" ng-click="clearSearch()">
      </button>-->
      </div>
      <div ng-repeat="message in messages" data-ng-init="init(message.creation_date,message.userid,message.fname,message.lname,message.content,message.image,message.from_userid,message.buisness_name)"></div>
      
      <div class="message_list_body">
        <ul class="list user_list online_list" >
        
           <!-- <li class="item active" ng-repeat="message in data | filter:filter" infinite-scroll='loadMore()' infinite-scroll-distance='2' >-->
             <li class="item active" 
                ng-repeat="choice in choices | filter:filter"  >
                <div class="row" ng-click="chatid(choice.id,choice.fname,choice.lname)"  >
                    <div class="col col-25">
                        <div class="user_img_block">
                            <div class="user_img" ng-if="notification.image!==''">
                                <img ng-src="http://creoyou.net/uploads/profileImages/{{choice.image}}" >
                                
                            </div>
                             <div class="user_img" ng-if="notification.image===''"><img ng-src="img/management.png" class="user_img"></div>
                            <div class="signal"></div>
                        </div>    
                    </div>
                    <div class="col col-40 user_details">
             <div class="user_name">{{choice.fname}}{{choice.lname}}</div>
                        <div class="user_tagline"  ng-bind-html=" choice.content  | trusted"><!--{{choice.content}}--></div>
                    </div>
                    <div class="col col-35 user_choice  activated_time"  >
                        <i class="material-icons" >alarm</i>
                        
                    
                         {{choice.creation_date}} 
                        
                      
                    </div>
                      
                </div>
</li>  
     <ion-infinite-scroll distance="2"
                     on-infinite="loadMoreData()"
                     ng-if="!moredata"
                     ></ion-infinite-scroll>
             <div  ><img id="mySpinner3"  src="img/loder_home.gif" /></div>
        </ul>
          

      </div>

    


   

  </ion-content>
    

   <a ui-sref="common.compose-message" class="type_message"><i class="material-icons">create</i></a> 
    
  
    
</ion-view>
