<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      
      

    <div class="col col-center slider-col">
      	<img ng-src="img/logo.png" class="app_logo">
        <h3 class="pl_for">A Creative Platform for<br>Creative People</h3>
        <img id="mySpinner" src="img/loder_home.gif" /></br>
        <h4 class="loginDele">Loading...</h4>
         
    </div>    
 


     
      
      
      
      
      
      
    </div>    
      
      
   
      
  </ion-content>
</ion-view>