<ion-view class="walkthrough-view multi-bg-outer" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">
<!--
<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
    
    </div>
</div>-->



<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	
    <div class="col header_right_creoyou" ng-controller="refresh_control" >
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message" ng-click="msg"><span class="info">{{count}}</span></a>
       
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>


</ion-header-bar>
  
  <ion-content scroll="true">
       <form name="myForm" novalidate>
      <div class="back"> 
          <button ng-controller="Arrowctrl" ng-click="arrowback()"><i class="material-icons">arrow_back</i> Back</button> 
          <!--<button  style="float:right" ng-click=createevent(ename,Location,esdate,estime,endate,eetime,aldesc,type) ><i class="material-icons">done</i> Save</button>-->
      </div>
      
      <div class="post_top_bar"> 
          <button><!--<i class="material-icons">lock</i> Set privacy--></button> 
          <button style="float:right" ng-click=privacy()> <!--Public <i class="material-icons">arrow_drop_down</i>--></button>
          
      </div>

      
      <div class="card">      
            <div class="compose_message_body">
<div class="list" >
  <label class="item item-input item-floating-label">
    <span class="input-label">Event Name</span>
    <input type="text" placeholder="Event Name" ng-model="ename" name="ename" required>
  </label>
<p class="ValError" ng-show="myForm.ename.$error.required " >* Name is required
                    </p>
     <label class="item item-input item-floating-label">
    <span class="input-label">Location</span>
    <input type="text" placeholder="Location" ng-model="Location" name="location" required>
  </label>
    <p class="ValError" ng-show="myForm.location.$error.required " >* Location is required
                    </p>
     <label class="item item-input item-floating-label">
    <span class="input-label">Event Start Date</span>
    <!--<input type="text" placeholder="Event Start Date" ng-model="esdate">-->
           <input type="date"  ng-model="esdate" placeholder="Event Start Date" name="esdate" required>
        
  </label>
    <p class="ValError" ng-show="myForm.esdate.$error.required " >* Start Date is required
                    </p>
    <label class="item item-input item-floating-label">
    <span class="input-label">Event Start Time</span>
    <!--<input type="text" placeholder="Event Start Date" ng-model="esdate">-->
         
          <input type="time" id="exampleInput" name="input" ng-model="estime"
       placeholder="Event Start Time" name="estime"  required />
        
        
        
        
  </label>
     <p class="ValError" ng-show="myForm.estime.$error.required " >* Start Time is required
                    </p>
     <label class="item item-input item-floating-label">
    <span class="input-label">Event End Date</span>
    <!--<input type="text" placeholder="Event Start Datee" ng-model="endate">-->
         <input type="date"  ng-model="endate" placeholder="Event End Date" name="endate" required>
         
        
         
         
  </label>
     <p class="ValError" ng-show="myForm.endate.$error.required " >* End date is required
                    </p>
    <label class="item item-input item-floating-label">
    <span class="input-label">Event End Time</span>
    <!--<input type="text" placeholder="Event Start Date" ng-model="esdate">-->
         
          <input type="time" id="exampleInput" name="input" ng-model="eetime"
       placeholder="Event End Time" name="eetime"    required />
        
        
        
        
  </label>
     <p class="ValError" ng-show="myForm.eetime.$error.required " >* End Time is required
                    </p>
  <label class="item item-input item-floating-label">
    <textarea name="comment" id="" placeholder="Event Description " ng-model="aldesc"></textarea>
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label"></span>
    <!--<input type="text" placeholder="Event Type" ng-model="edes">-->
        <select name="type" ng-model="type"   class="wasim"ng-change="showSelectValue(ename,Location,esdate,estime,endate,eetime,aldesc,type)" required>
                       <option value="" disabled="disabled"                           selected="selected">Select Type</option>  
                    <option value="1">Make it Private</option>
                      <option value="2">Make it Public </option>
                   <!--<option value="">{{catagory}}</option>-->
                    
                   
                          
                    </select>
  </label> 
  <div class="upload_photo">
      
      
      
<ion-scroll zooming="true" direction="x" style="width: 100%; height: auto">
        <div style="width:100%; height: auto">
           
            <ul class="post_pro_list row">
                <li class="col col-25">
                    <div class="post_pro_img" >
                        <img ng-src="{{imgURI}}" class="fluid-image">
                        <!--img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center" class="fluid-image"-->        
                    </div>                                        
                </li>
               
            </ul>
            
        </div>
</ion-scroll>      
      
      
   
      
      
      
      <button ng-click="imageupload()"><i class="material-icons">add_a_photo</i><span>Add Photo</span></button>      
  </div>
    <div>
      <button ng-click="createevent(ename,Location,esdate,estime,endate,eetime,aldesc,type)" class="button button-block reg_sub"   ng-disabled="myForm.$invalid" >Post</button>
        
      <!--
      <button ng-click="createevent(ename,Location,esdate,estime,endate,eetime,aldesc,type)" class="button button-block reg_sub"   ng-disabled="myForm.$invalid" >Update Event</button>-->    
    </div>
  
</div>
          
      </div>
      </div>
      </form>
  </ion-content>

    
    
<!--  <ion-footer-bar class="bar-positive tabs tabs-stable already_sign">
    	<a class="tab-item tab-item-active" ui-sref="common.login">Already have an acount?<span>Sign In</span></a>
  </ion-footer-bar>  -->   
    
</ion-view>
