<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">

<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
    
    </div>
</div>

</ion-header-bar>
  
  <ion-content scroll="true" >
      <div class="filter">
            <div class="filter_head">
                <h2>Filter</h2>
                <a href="">Reset</a>
            </div>
            
            <div class="filter_body">
                <form>
                                
                <div class="list">
                  <div class="row">
                    <div class="col col-50">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Creative field</span>
                            <input type="text" placeholder="Creative Field">
                        </label>
                    </div>
                    <div class="col col-50">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Specialization</span>
                            <input type="text" placeholder="Specialization">
                        </label>  
                    </div>
                  </div>
                </div>
                                
                <div class="list">
                  <div class="row">
                    <div class="col col-50">
                        <label class="item item-input item-floating-label select">
                            <span class="input-label">Country</span>
                            <select>
                                <option selected>India</option>
                                <option>Andorra</option>
                                <option>Angola</option>
                                <option>Anguilla</option>
                                <option>Antigua</option>
                                <option>Argentina</option>
                                <option>Armenia</option>
                                <option>Aruba</option>
                                <option>Australia</option>
                                <option>Austria</option>
                                <option>Azerbaijan</option>
                                <option>Bahamas</option>
                                <option>Bahrain</option>
                                <option>Bangladesh</option>
                                <option>Barbados</option>
                                <option>Belarus</option>
                                <option>Belgium</option>
                                <option>Belize</option>
                                <option>Benin</option>
                                <option>Bermuda</option>
                            </select>
                        </label>
                    </div>
                    <div class="col col-50">
                        <label class="item item-input item-floating-label select">
                            <span class="input-label">State</span>
                            <select>
                                <option>Andhra Pradesh</option>
                                <option>Arunachal Pradesh</option>
                                <option>Assam</option>
                                <option>Bihar</option>
                                <option>Chhattisgarh</option>
                                <option>Goa</option>
                                <option>Gujarat</option>
                                <option>Haryana</option>
                                <option>Himachal Pradesh</option>
                                <option>Jammu and Kashmir</option>
                                <option>Jammu</option>
                                <option>Jharkhand</option>
                                <option>Karnataka</option>
                                <option>Kerala</option>
                                <option selected>West Bengal</option>
                            </select>
                        </label>  
                    </div>
                  </div>
                </div>
                    
                <div class="list">
                  <div class="row">
                    <div class="col col-50">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">City</span>
                            <input type="text" placeholder="City">
                        </label>
                    </div>                    
                  </div>
                </div> 
                    
                    
                <div class=" filter_button">
                  <a ui-sref="common.search_on_keystock">Cancel</a>
                    
                    <a href="">Apply</a>                    
                </div>                    
                    
                    
                </form>
                <div class="clearfix"></div>
            </div>
          
      </div>
  </ion-content>

    
    
<!--  <ion-footer-bar class="bar-positive tabs tabs-stable already_sign">
    	<a class="tab-item tab-item-active" ui-sref="common.login">Already have an acount?<span>Sign In</span></a>
  </ion-footer-bar> -->    
    
</ion-view>
