<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >


  
  <ion-content scroll="true">
      <form name="myForm" novalidate>
<div class="back job_admin"> 
   <!-- <button ui-sref="common.chat_message"><i class="material-icons">arrow_back</i></button> -->
    
    <div class="job_post_admin_title">
        <h2>Login Help</h2>
    </div>
    
    
    <div class="clearfix"></div>
    
</div>

      <div class="chat_body help_wrap re-password-wrap">
        <!--h1><img ng-src="img/help-password.png" class=""> </h1-->
          <div class=""> 
           
                   <h3>Enter new password</h3>
                  <label class="item item-input item-input-help PassHelp">
          
                    <input type="Password" name="password" ng-model="password" placeholder="Password" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/" required>
                      <div ng-show="myForm.password.$error.pattern" class="message_in">Password must have at least 8 characters and contain at least 1 Uppercase letter and 1 number and one lower case letter</div> 
                  </label>
                <p ng-show="myForm.password.$error.required && !myForm.password.$pristine " >* Password is required</p> 

                    <p ng-show="myForm.password.$error.minlength" >* Password must be longer than 8 characters</p>
                <h3>Re-enter new password</h3>
            <label class="item item-input item-input-help">
           
                   <!-- <input type="password" placeholder=""name="rpassword" ng-model="rpassword" required>-->
                <input type="password"   name="confirm_password" ng-model="confirm_password" placeholder="Confirm password" match-password="password" required>
                  </label>
                <p ng-show="myForm.confirm_password.$error.matchPassword && !myForm.confirm_password.$error.required" >Confirm password didn't match</p>
               <p ng-show="myForm.confirm_password.$error.required && !myForm.password.$pristine " >* Password is required</p> 
          <button class="button button-block Log_sub" ng-disabled="myForm.$invalid"ng-click="chpassword(password,rpassword)" 
                  >Next</button>   
          </div>        
      </div>


      </form>
  </ion-content>

    
   <!-- <ion-footer-bar class="bar-positive tabs tabs-stable already_sign">
    	<a class="tab-item tab-item-active" ui-sref="common.login">Sign in</a>
    </ion-footer-bar>     -->
 
    
</ion-view>
