<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >


  
  <ion-content scroll="true">
<div class="back job_admin"> 
    <button ui-sref="common.login"><i class="material-icons">arrow_back</i></button> 
    
    <div class="job_post_admin_title">
        <h2>Login Help</h2>
    </div>
    
    
    <div class="clearfix"></div>
    
</div>

      <div class="chat_body help_wrap re-done-wrap">
        <h1><img ng-src="img/help-done.png" class=""> </h1>
          <div class=""> 
             <h3>You Have Successfully Set Your New Username</h3>
           
          <button class="button button-block Log_sub" ui-sref="common.login">Done</button>   
          </div>        
      </div>


      
  </ion-content>

    
    <ion-footer-bar class="bar-positive tabs tabs-stable already_sign">
    	<a class="tab-item tab-item-active" ui-sref="common.login">Sign in</a>
    </ion-footer-bar>     
 
    
</ion-view>
