<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">
<!--

<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
    
    </div>
</div>
-->
<!--
<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	
    <div class="col header_right_creoyou">
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
     
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" >
              Post Job
            </a>
            <a class="item" >
              Jobs
            </a>
            <a class="item" >
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" >
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>-->
    
<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	<!--<div class="col-50" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons" ui-sref="common.chat_">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>-->
    <div class="col header_right_creoyou" ng-controller="refresh_control" >
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message" ng-click="msg"><span class="info">{{count}}</span></a>
       <!-- <a class="notification" ng-click="popover.show($event)">
        </a>-->
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>

</ion-header-bar>
  
  <ion-content scroll="true">
     <form class="job_post_form" name="myForm" novalidate> 
<div class="back job_admin"> 
    <button ui-sref="common.search_on_keystock"><i class="material-icons">arrow_back</i></button> 
    
    <div class="job_post_admin_title">
        <h2>Update your Job</h2>
    </div>
    
    
        
    
    <div class="clearfix"></div>
    
</div>

<div class="job_list_body">
    <div class="job_post_block" ng-repeat="job in jobdetails">
        
            <div class="list">
                  <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Job Title <i>*</i></span>
                            <input type="text" placeholder="Job Title" name="jtitle" ng-model="job.job_title"  required>
                        </label>
                        <p ng-show="myForm.jtitle.$error.required  " >* Job title is required</p>
                    </div>                    
                  </div>
            </div>
            <div class="list">
                  <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Required Skills <i>*</i></span>
                            <input type="text" placeholder="Required Skill" name="rskill" ng-model="job.required_skills"  required>
                        </label>
                        <p ng-show="myForm.rskill.$error.required  " >* Skill is required</p>
                    </div>                    
                  </div>
            </div>
            
            <div class="list">
                  <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Job Description <i>*</i></span>
                            <textarea name="comment" id="" placeholder="Describe the key responsibilities of this job, required work experience, skills, education or company’s " name="jdesc" ng-model="job.description"  required></textarea>
                        </label>
                        <p ng-show="myForm.jdesc.$error.required " >* Job Description is required</p>
                    </div>                    
                  </div>
            </div>
            
            <div class="list">
                  <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Required Experience</span>
                            <input type="text" placeholder="Ex. 3 Years in Advertising "  name="rexp" ng-model="job.required_experience"  required>
                        </label>
                        <p ng-show="myForm.rexp.$error.required " >* This field is required</p>
                    </div>                    
                  </div>
            </div>
                    
            <div class="list">
                  <div class="row">
                    <div class="col col-50">
                        <label class="item item-input item-floating-label select">
                            <span class="input-label">Country</span>
                           
                            <select name="cfield" ng-model="cfield"   class="reg_select"ng-change="showSelectValue(cfield)" required>
                   <option value="" disabled="disabled" selected="selected">Select your country</option>
                     <option  ng-repeat="group in listOfOptions" value="{{group.id}}"
             ng-disabled="group.disabled" >{{group.name}}</option>
                  
                   
                          
                    </select>
                        </label>
                        <p ng-show="myForm.cfield.$error.required " >* This field is required</p>
                    </div>
                    
                    <div class="col col-50">
                        <label class="item item-input item-floating-label select">
                            <span class="input-label">State</span>
                          
                            <select name="cfield1" ng-model="cfield1"   class="reg_select1"ng-change="showSelectValue1(cfield1)" required>
                      <option value="" disabled="disabled" selected="selected">Select your State</option>
                     <option  ng-repeat="group in listOfOptions1" value="{{group.id}}"
             ng-disabled="group.disabled" >{{group.name}}</option>
                               
                                 </select>
                        </label>  
                        <p ng-show="myForm.cfield1.$error.required " >* This field is required</p>
                    </div>  
                      
                  </div>
            </div>
            <div class="list">
                  <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">City <i>*</i></span>
                            <input type="text" placeholder="Your City" name="city" ng-model="job.city"  required>
                        </label>
                         <p ng-show="myForm.city.$error.required " >* City is required</p>
                    </div>                    
                  </div>
            </div>
            <div class="list">
                  <div class="row">
                    <div class="col col-50">
                        <label class="item item-input item-floating-label select">
                            <span class="input-label">Job Type <i>*</i></span>
<!--

-->                 
                            <select name="type" ng-model="job.jobtype"   class="reg_select" required>
                       <option value="" disabled="disabled"                           selected="selected">Select Job Type</option>
                     <option  ng-repeat="group in listOfOptions2" value="{{group.id}}"
             ng-disabled="group.disabled" >{{group.name}}</option>
                 
                   
                          
                    </select>
                        </label>
                        <p ng-show="myForm.type.$error.required " >* This field is required</p>
                    </div>
                    
                    <div class="col col-50">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Salary</span>
                            <input type="text" placeholder="Salary" name="sal" ng-model="job.salary"  required>
                        </label>
                        <p ng-show="myForm.sal.$error.required " >* Salary is required</p>
                    </div>  
                      
                  </div>
            </div>
            
            <div class="list">
                  <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Job Keyword <i>*</i></span>
                            <input type="text" placeholder="Your Job Keyword" name="jkey" ng-model="job.jkey"  required>
                        </label>
                         <p ng-show="myForm.jkey.$error.required  " >* Job Keyword is required</p>
                    </div>                    
                  </div>
            </div>
            
            <div class="list">
                  <div class="row">
                    <div class="col">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Deadline for Application</span>
                          <!--  <input type="text" ng-click="showDatePicker()"
                            placeholder="{{date1}}" >-->
                    <input type="date" ng-model="job.deadline_for_application">
                        </label>
                      <!--  <p ng-show="myForm.dead.$error.required " >* Deadline is requeard</p>-->
                    </div>                    
                  </div>
            </div>
            
            
            <div class=" filter_button">
                    <a >Cancel</a>                    
                    <a ng-click="apply(job.job_title,job.required_skills,job.description,job.required_experience,cfield,cfield1,job.city,job.jobtype,job.salary,job.jkey,job.deadline_for_application)" ng-disabled="myForm.$invalid">Update</a>  
        <!--         <button ng-click="apply()" class="button button-block reg_sub"  >Post</button>
                  <button ui-sref="common.about_me" class="button button-block reg_sub" >Cancel</button>-->

            </div>
        
       
    </div>
</div>

      
      
      
      
      
      
       </form>
  </ion-content>

     
    
</ion-view>
