<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">

<!--<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons" >search</i><input type="search" placeholder="People,Business,Jobs1.....">
        <button ui-sref="common.job_filter"> <i class="material-icons" >search</i></button>
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
    
    </div>
</div>-->
<!--
<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	
    <div class="col header_right_creoyou">
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">3</span></a>
       
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" >
              Post Job
            </a>
            <a class="item" >
              Jobs
            </a>
            <a class="item" >
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" >
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>-->

<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	<!--<div class="col-50" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons" ui-sref="common.chat_">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>-->
    <div class="col header_right_creoyou" ng-controller="refresh_control" >
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message" ng-click="msg"><span class="info">{{count}}</span></a>
       <!-- <a class="notification" ng-click="popover.show($event)">
        </a>-->
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>
</ion-header-bar>
  
  <ion-content scroll="true">
<div class="back"> 
    <button ng-controller="Arrowctrl" ng-click="arrowback()"><i class="material-icons">arrow_back</i></button> 
     
    
    <div class="job_post_list_title">
        <h2>Your Job</h2>
        
    </div>
    <div class="clearfix"></div>
    
</div>
  <div ng-repeat="jobtest in alljobs" data-ng-init="init(jobtest.creation_date,jobtest.UserId,jobtest.jobId,jobtest.fname,jobtest.lname,jobtest.job_title,jobtest.image,jobtest.name,jobtest.part)"></div>  

<div class="job_list_body">
    <a href="#" class="filter_bar" ui-sref="common.job_filter"> <i class="material-icons">tune</i> Filter</a>  
    <ul class="list user_list">               
<!--        <li class="item BusinessList" ui-sref="common.job_admin">            -->
        <li class="item BusinessList" ng-repeat="job in choices"
             ng-click="jobid(job.jobId)">
            <div class="row">
                <div class="col col-25 job_image">
                    <img ng-src="http://creoyou.net/uploads/profileImages/{{job.image}}">
                </div>
                <div class="col Businessuser_details">
                    <div class="jobs_name">{{job.job_title}}</div>
                    <div class="job_company_name">{{job.fname}}
                    {{job.lname}}
                    </div>
                </div>
                <div class="col busi_descrip job_post_list">
                    <i class="material-icons">settings</i>

                    
                   <div class="business_address"><i class="material-icons">location_on</i> {{job.name}}<br>{{job.creation_date}} / {{job.part}}</div> 
                    
            </div>
                    
            </div>
        </li>

    </ul>  
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
</div>   
      
      
      
  </ion-content>

    
    
<!--
  <ion-footer-bar class="bar-positive tabs tabs-stable already_sign">
    	<a class="tab-item tab-item-active" ui-sref="common.login">Already have an acount?<span>Sign In</span></a>
  </ion-footer-bar>     
-->
    
</ion-view>