<ion-view class="walkthrough-view" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">
<!--
<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">4</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">12</span></a>
        <a ui-sref="common.chat_message"  class="message"><span class="info">3</span></a>
    
    </div>
</div>-->
<!--    
<div class="row" >
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	
    <div class="col header_right_creoyou" ng-controller="refresh_control">
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message"><span class="info">{{count}}</span></a>
     
         <a class="top_settings"ng-controller="Headercontroler" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" >
              Post Job
            </a>
            <a class="item" >
              Jobs
            </a>
            <a class="item" >
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>-->

<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	<!--<div class="col-50" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons" ui-sref="common.chat_">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>-->
    <div class="col header_right_creoyou" ng-controller="refresh_control" >
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message" ng-click="msg"><span class="info">{{count}}</span></a>
       <!-- <a class="notification" ng-click="popover.show($event)">
        </a>-->
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>


</ion-header-bar>
  
  <ion-content scroll="true">
          <ion-refresher ng-controller="pullctrl" pulling-text="Pull to refresh"
         refreshing-text="Loading..."
         refreshing-icon="ion-loading-c"
       
         on-refresh="doRefresh()">
         </ion-refresher>
    
<div class="back"> <button ng-controller="Arrowctrl" ng-click="arrowback()"><i class="material-icons">arrow_back</i> Notification</button> </div>
      
   <div ng-repeat="noti in notifications" data-ng-init="notificationdata(noti.image,noti.text,noti.updation_date,noti.incident_id,noti.incident_type)"></div>

<ul class="list notificationlist" >

    <li class="item unread" ng-repeat="notification in finalnotification">
        <div class="row" ng-click="notificationdetails(notification.incident_id,notification.incident_type)">
            <div class="col col-25"ng-if="notification.image!==''"><img ng-src="http://creoyou.net/uploads/profileImages/{{notification.image}}" class="notification_img"></div>
            <div class="col col-25" ng-if="notification.image===''"><img ng-src="img/management.png" class="user_img"></div>
            <div class="col ">
                <div class="notification_title">{{notification.text}}</div>
                <div class="notification_time"><i class="material-icons">access_alarms</i>{{notification.updation_date}}</div>
            </div>
        </div>
        
    </li>
  <div class="or loder" ><img id="mySpinner" src="img/loder_home.gif" /></div>
    <ion-infinite-scroll distance="2"
                     on-infinite="loadMoreData()"
                     ng-if="!moredata"
                     ></ion-infinite-scroll>
    

</ul>   
    
   
       
  </ion-content>


    
 
    
</ion-view>
