<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">

    
<div class="row" ng-controller="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	
    <div class="col header_right_creoyou" ng-controller="refresh_control" >
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message" ng-click="msg"><span class="info">{{count}}</span></a>
       <!-- <a class="notification" ng-click="popover.show($event)">
        </a>-->
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>


</ion-header-bar>
  
  <ion-content scroll="true">

     <md-content>
   
         <div class="back" ui-sref="common.notification"> <i class="material-icons">arrow_back</i> Back</button> </div>
    <div ng-repeat="indihome in noti">
                        <div data-ng-init="tagto(indihome.tagged_to,indihome.count,indihome.audio_name,indihome.audio_title,indihome.audio_title,indihome.id,indihome.incidentId,indihome.incident_type,indihome.fname,indihome.lname,indihome.creation_date,indihome.user_status,indihome.image,indihome.video_name,indihome.likes,indihome.countit,indihome.media_name,indihome.incidentId,indihome.buisness_name,indihome.audio_source,indihome.likeActive,indihome.albums,indihome.incident_name)">
<!--                            <h1>wasim</h1>-->
                        </div>
                          <!--   <div> <h1>wssimakram bora</h1></div>-->
                     </div>
<!--       <img id="mySpinner1" src="img/loder_home.gif" ng-show="loading"/> -->
          
      <div class="tab_body">      
          
        
                     
                     <div ng-repeat="indihome in totaldata">
                       
                        <div class="caed postcard" ng-if="indihome.incident_type==='Status'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}} <label class="status">has Updated the Status</label></div>
                                 <div class="post_date">
                                    {{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}} 
                                 </div>
                              </li>
                              <li class=" post_body">
                                 {{indihome.user_status}}
                              </li>
                              <li class="post_body" ng-if ="indihome.media_name !==''" >
                                 <img ng-src="http://creoyou.net/uploads/statusMedia/{{indihome.media_name}}" class="pist_image" src="img/share_image.jpg"> 
                              </li>
                              <!--  <li class="item post_with" > -->
                              <!--<a data-ng-repeat="i in [0,1,2,3,4,5]"ng-repeat="day in rangeCreator(1,31)">-->
                              with
                              <a  ng-repeat="i in rangeCreator(0,indihome.tag)"
                                 ng-click="profile(indihome.tag[i].id)">
                              {{indihome.tag[i].fname}}</a>  <a href="#">{{moretag}}</a>
                              </li>
                              <li class="item post_footer">
                                 <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values!==111" >{{indihome.likes -- lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values==111" >{{ lik}}</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{loop2}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                              <li class="recent_comment" ng-controller="Likectrl">
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                              </li>                            
                           </ul>
                           <!-- <i class="material-icons" ng-click="openPopover($event)">settings</i>-->
                        </div>
                        <div class="caed postcard" ng-if="indihome.incident_type==='Profile'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}} <label class="status">has Updated the Profile Picture</label></div>
                                 <div class="post_date">{{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}} </div>
                              </li>
                              <li class="post_body">
                                 <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.media_name}}" class="pist_image" src="img/share_image.jpg"> 
                              </li>
                              <li class="item post_footer">
                                  <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values!==111" >{{indihome.likes -- lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values==111" >{{lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="lik==''" >0</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{loop2}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                              <li class="recent_comment" ng-controller="Likectrl">
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                           </ul>
                           <!-- <i class="material-icons" ng-click="openPopover($event)">settings</i>-->
                        </div>
      
                        <div class="caed postcard" ng-if="indihome.incident_type==='Image'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}}
                                   <label class="status">{{indihome.incident_name}}</label></div>
                                 <div class="post_date">{{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}} </div>
                              </li>
                               
                             <!-- <li class="post_body" ng-if="indihome.countImages===1">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[0].image_name}}" class="pist_image" > 
                                  
                              </li>
                                <li class="post_body" ng-if="indihome.countImages===2">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[0].image_name}}" class="pist_image" > 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image" > 
                              </li>
                                <li class="post_body" ng-if="indihome.countImages===3">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image" > 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[2].image_name}}" class="pist_image" src="img/share_image.jpg"> 
                              </li>
                                <li class="post_body" ng-if="indihome.countImages===4">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[0].image_name}}" class="pist_image"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[2].image_name}}" class="pist_image"> 
                                      <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[3].image_name}}" class="pist_image">
                              </li>
                               -->
                                 <li class="post_body" ng-if="indihome.countImages===1">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[0].image_name}}" class="pist_image" > 
                                  
                              </li>
                                <li class="post_body ImgTwo" ng-if="indihome.countImages===2">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[0].image_name}}" class="pist_image" > 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image" > 
                              </li>
                                <li class="post_body imgThree" ng-if="indihome.countImages===3">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image firstThree"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image" > 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[2].image_name}}" class="pist_image" src="img/share_image.jpg"> 
                              </li>
                                <li class="post_body imgfour" ng-if="indihome.countImages===4">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[0].image_name}}" class="pist_image"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[2].image_name}}" class="pist_image"> 
                                      <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[3].image_name}}" class="pist_image">
                              </li>
                               
                                <li class="post_body imgAll" ng-if="indihome.countImages>4">
                                 <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[0].image_name}}" class="pist_image"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[1].image_name}}" class="pist_image"> 
                                    <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[2].image_name}}" class="pist_image"> 
                                    <a hidden="#" value="+{{indihome.countImages - 4}}" class="fourplus">
                                      <img ng-src="http://creoyou.net//uploads/portfolioImages/{{indihome.AlbumImages[3].image_name}}" class="pist_image">
                                    </a>        
                              </li>
                               
                              <li class="item post_footer">
                                  <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values!==111" >{{indihome.likes -- lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values==111" >{{lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="lik==''" >0</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{indihome.countid -- cmt}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                              <li class="recent_comment" ng-controller="Likectrl">
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                           </ul>
                           <!-- <i class="material-icons" ng-click="openPopover($event)">settings</i>-->
                        </div>
      
                        <div class="caed postcard" ng-if="indihome.incident_type==='Event'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}} <label class="status">has Created a New Event</label></div>
                                 <div class="post_date">{{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}} </div>
                              </li>
                              <li class="post_body">
                                 <img ng-src="http://creoyou.net/uploads/eventsImages/{{indihome.media_name}}" class="pist_image" > 
                              </li>
                              <li class="item post_footer">
                                  <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values!==111" >{{indihome.likes -- lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values==111" >{{lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="lik==''" >0</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{loop2}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                              <li class="recent_comment" >
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                   <div ng-controller="Likectrl" ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body" ng-controller="Likectrl">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                           </ul>
                           <!-- <i class="material-icons" ng-click="openPopover($event)">settings</i>-->
                        </div>
                        <div class="caed postcard" ng-if="indihome.incident_type==='User'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}} <label class="status"> Joined CreoYou</label></div>
                                 <div class="post_date">{{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}} </div>
                              </li>
                             <!-- <li class="post_body">
                                 <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="pist_image" src="img/share_image.jpg"> 
                              </li>
                              with
                              <a ng-repeat="i in rangeCreator(0,indihome.yyy)">
                              {{indihome.yyy[i].fname}}</a>  <a href="#">{{moretag}}</a>-->
                              <div class="post_date">{{indihome.incident_details}} </div>
                              <li class="item post_footer">
                                  <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" >{{indihome.likes -- lik}}</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{loop2}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                               <li class="recent_comment" ng-controller="Likectrl">
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                           </ul>
                           <!-- <i class="material-icons" ng-click="openPopover($event)">settings</i>-->
                        </div>
                        <div class="caed postcard" ng-if="indihome.incident_type==='Audio'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" > 
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}} <label class="status">{{indihome.incident_name}}</label></div>
                                 <div class="post_date">{{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}} </div>
                              </li>
                              <li class="post_body">
                                 <ion-audio-track >
                                    <div class="row">
                                       <div class="item item-thumbnail-left col">
                                          <img ng-src="img/audio_new.png">
                                       </div>
                                       <div class="item progress-right col col-75">
                                         <!-- <div class="col video_sha_like">
                                             <ul>
                                                <li class="wishlist"><a href="#"><i class="material-icons">favorite</i><label>{{track.audio_like}}</label></a></li>
                                                <li class="comment"><a href="#"><i class="material-icons">chat_bubble</i><label>{{track.countComment}}</label></a></li>
                                                <li class="eyeview"><a href="#"><i class="material-icons">remove_red_eye</i><label>{{track.audio_viewed}}</label></a></li>
                                                <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                                </ul>
                                             <i class="material-icons">settings</i>
                                          </div>-->
                                          <div class="audio_title">{{indihome.audio_title1}}</div>
                                          <audio controls ng-if="indihome.audio_source===null">
                                             <source ng-src="{{trustSrc2(indihome.audio_name)}}" type="audio/mpeg">
                                             Your browser does not support the audio element.
                                          </audio>
                                          <audio controls ng-if="track.audio_source!==null">
                                             <source ng-src="{{trustSrc1(indihome.audio_name)}}" type="audio/mpeg">
                                             Your browser does not support the audio element.
                                          </audio>
                                       </div>
                                    </div>
                                 </ion-audio-track>
                              </li>
                              <li class="item post_footer">
                                 <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values!==111" >{{indihome.likes -- lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values==111" >{{ lik}}</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{loop2}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                              <li class="recent_comment" ng-controller="Likectrl">
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                           </ul>
                           <!-- <i class="material-icons" ng-click="openPopover($event)">settings</i>-->
                        </div>
                        <div class="caed postcard" ng-if="indihome.incident_type==='You Tube'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}} <label class="status">has Updated a new Video</label></div>
                                 <div class="post_date">{{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}} </div>
                              </li>
                              <li class="post_body">                                
                                 <iframe width="100%" ng-src="{{getIframeSrc(indihome.video_name)}}" frameborder="0 " allowfullscreen></iframe>
                              </li>
                              with
                              <a ng-repeat="i in rangeCreator(0,indihome.yyy)">
                              {{indihome.yyy[i].fname}}</a>  <a href="#">{{moretag}}</a>
                              <li class="item post_footer">
                                 <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values!==111" >{{indihome.likes -- lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values==111" >{{ lik}}</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{loop2}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                             <li class="recent_comment" ng-controller="Likectrl">
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                           </ul>
                           <!-- <i class="material-icons" ng-click="openPopover($event)">settings</i>-->
                        </div>
                        <div class="caed postcard" ng-if="indihome.incident_type==='Video'">
                           <ul class="list">
                              <li class="item post_heading">
                                 <div class="postericon">
                                    <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo">  
                                 </div>
                                 <div class="poster_name">{{indihome.fname}}{{indihome.lname}}  <label class="status">has Updated a new Video</label></div>
                                 <div class="post_date">{{indihome.creation_date | date:"dd MMMM yyyy 'at' h:mma"}}  </div>
                              </li>
                              <li class="post_body">
                                 <video id="{{video.id}}" controls style="width:100%;height:auto;" video-control control-play="{{play}}" oncontextmenu="return false"      loop controls="controls" class="composition-video" ng-src={{trustSrc(indihome.video_name)}}  type="video/mp4"></video>
                              </li>
                              with
                              <a ng-repeat="i in rangeCreator(0,indihome.yyy)">
                              {{indihome.yyy[i].fname}}</a>  <a href="#">{{moretag}}</a>
                              <li class="item post_footer">
                                  <ul ng-controller="Likectrl">
                                    <li class="wishlist" ><a href="#"><i class="material-icons {{indihome.likeActive}} " ng-click="likecreate(indihome.incidentId,indihome.incident_type,indihome.likeActive,indihome.fname,indihome.lname)" ng-class="mainclass"  id="btn1">favorite</i><label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values!==111" >{{indihome.likes -- lik}}</label>
                                        <label  ng-click="like(indihome.incidentId,indihome.incident_type,indihome.id)" ng-if="values==111" >{{ lik}}</label>
                                       </a>
                                    </li>
                                    <li class="comment" ng-if="indihome.countit!==''"><a href="#"><i class="material-icons ">chat_bubble</i><label ng-click="comment(indihome.incidentId,indihome.incident_type,indihome.id)">{{loop2}}</label></a></li>
                                    <li class="share"><a href="#"><i class="material-icons">share</i><label>30</label></a></li>
                                 </ul>
                              </li>
                             <li class="recent_comment" ng-controller="Likectrl">
                                 <div ng-repeat="mes in messages" class="PostComment">
                                    <div class="postericon">
                                       <img ng-src="http://creoyou.net/uploads/profileImages/{{indihome.image}}" class="update_logo" >  
                                    </div>
                                    <div class="poster_name">{{mes.fname}}{{mes.lname}}</div>
                                    <div class="poster_name">{{mes.comment}}</div>
                                 </div>
                                <!-- <div class="reply"><i class="material-icons">chat_bubble</i> Reply</div>-->
                                 <!--<div class="post_date">August 11th 2016 at 11:33am </div>  -->
                                  <div class="clearfix"></div>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="yourcomment" placeholder="Your comment">
                                    <a class="PostSubmit" ng-click="postcomment(indihome.incidentId,indihome.incident_type,yourcomment,indihome.id,indihome.fname,indihome.lname)">   <i class="material-icons">near_me</i></a>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
          
          
          
          
          
          
          
          
          
      </div>
     
      </md-content> 
      

	 
    

 
  </ion-content>

 <!-- <ion-footer-bar class="bar-positive tabs tabs-stable already_sign">
    	<a class="tab-item tab-item-active" ui-sref="common.login">Already have an acount?<span>Sign In</span></a>
  </ion-footer-bar>     -->
    
</ion-view>
