<ion-popover-view class="card pop_card">

                <div class="item item-text-wrap">        
                    <button class="privacy">
                        <i class="material-icons">border_color</i> Edit
                    </button>
                    <button class="delete">
                        <i class="material-icons">delete_sweep</i> Delete
                    </button>
                    <button class="delete">
                        <i class="material-icons">delete_sweep</i> Public
                    </button>
                    <button class="delete">
                        <i class="material-icons">delete_sweep</i> Only me
                    </button>
                </div>
 
</ion-popover-view>
    