<ion-view class="walkthrough-view" cache-view="false" >

<ion-header-bar align-title="left" class="bar-creoyou">
<!--
<div class="row">
	<div class="col-50"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    <div class="col header_right_creoyou">
    	<a ui-sref="#" href="#" class="creoyou_loop"></a>
        <a ui-sref="#" href="#" class="add_invite"><span class="info">4</span></a>
        <a ui-sref="#" href="#" class="notification"><span class="info">12</span></a>
        <a ui-sref="#" href="#" class="message"><span class="info">3</span></a>
    
    </div>
</div>-->
    
<div class="row" ng-controllerr="Headercontroler">
	<div class="col-45" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>
    	<!--<div class="col-50" ui-sref="common.search_on_keystock"><label class="item-input-wrapper header_search">    
    <i class="material-icons" ui-sref="common.chat_">search</i><input type="search" placeholder="People,Business,Jobs.....">
  </label></div>-->
    <div class="col header_right_creoyou" ng-controllerr="refresh_control" >
    	<a ui-sref="common.creo_loop" class="creoyou_loop"></a>
        <a class="add_invite" ui-sref="common.request"><span class="info">{{pendingrequest}}</span></a>
        <a class="notification" ui-sref="common.notification"><span class="info">{{notificationscount}}</span></a>
        <a class="message" ui-sref="common.chat_message" ng-click="msg"><span class="info">{{count}}</span></a>
       <!-- <a class="notification" ng-click="popover.show($event)">
        </a>-->
         <a class="top_settings" ng-click="popover1.show($event)">
        </a>
         <script id="templates/popover1.html"  type="text/ng-template">
      <ion-popover-view>
        <ion-content class="list1">
          <div class="list">
            <a class="item" ng-click="postjob()">
               Job post
            </a>
            <a class="item" ng-click="alljob()" >
              Jobs
            </a>
               <a class="item" ng-click="myjob()">
               My Job 
            </a>
            <a class="item" ng-click="changepassword()">
              Change Password
            </a>
            <a class="item" 
             <i class="material-icons">settings</i>
           
            </a>
            <a class="item" ng-click="logout()">
              Logout
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
</div>

</ion-header-bar>
  
  <ion-content scroll="true" class="About_me_tab">
  <div class="back"> <button ng-controllerr="Arrowctrl" ng-click="arrowback()"><i class="material-icons">arrow_back</i> Back </button> 
      </div>
      
     <div class="clearfix"></div>
     
          <md-tabs md-dynamic-height md-border-bottom stretchTabs flex class="album_tab">
                    <md-tab label="Personal Settings">      
                        <md-content class="" scroll="y" layout="column">
                   <div class="tab_body">    
                      <a  class="connec_top_button">Personal Settings</a>                    
                   
        
                       
    <md-content>

      <ion-list>
        <div style="width:100%" >
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                   >
           
          <div class="prev-info"> 
          <div class="edit-del">
           <h3>Location</h3>
            <a href="#"><i class="material-icons" ng-click="toggleGroup(group,'location')" ng-class="isGroupShown2(group) ">border_color</i></a>

           </div>
             <p >  User Name: {{personalstatement.username}}   </p>
                    <p >   Email: {{personalstatement.email}}   </p>
                      <p > Mobile No: {{personalstatement.mobile_no}}   </p>
            <!--<i class="icon"ng-click="toggleGroup(group,'location')" ng-class="isGroupShown2(group) ? 'ion-minus' : 'ion-plus'"></i>-->
            </div>
          </ion-item>
          <ion-item class="item-accordion" ng-show="isGroupShown2(group)">
            
   <form name="myForm" novalidate>
 
                                 <div class="post_body">
                                    <input type="text" name="Username" ng-model="Username" id="user" ng-keyup='usercheck()' placeholder="Username" ng-pattern="/(?=.*[a-zA-Z])(^[a-zA-Z0-9]*$)/" required>
                      
                  </label>
                    <p ng-show="myForm.Username.$error.pattern">Only letters and numbers are allowed </p>
                    <p ng-show="myForm.Username.$error.required">* Username is required</p>
                    <p >{{username}}</p>
                                    <button class="PostSubmit" ng-click="postcomment()" ng-disabled="myForm.$invalid">   Save</button>
                                 </div>
        </form>
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="personalstatement.email" placeholder="Your Email">
                                    <button class="PostSubmit" ng-click="postcomment()">  Save</button>
                                 </div>
  
                                 <div class="post_body">
                                    <input class="CommentBox" type="text" ng-model="personalstatement.mobile_no" placeholder="Your MobileNo">
                                     <button class="PostSubmit" ng-click="postcomment()">   Save</button>
                                 </div>
                
      
          </ion-item>
        </div>        
        
          
      </ion-list>
      

    </md-content>
                            
                    </div>
                        </md-content>
                    </md-tab>
              
                    <md-tab label="Privacy Settings" >      
                        <md-content class="" scroll="y" layout="column">
                            <div class="tab_body">
                                <a href="#" class="connec_top_button">Privacy Settings</a>                                         
                                <ul class="list user_list" >
                               <li class="item" ng-repeat="conection in conections">
                                    <div class="row">
                                        <div class="col col-25">

                                            <div class="user_img">
                                                <img ng-show="conection.image ===''" ng-src="img/management.png" class="user_img">
                                                <img ng-show="conection.image !==''" ng-src="http://creoyou.net/uploads/profileImages/{{conection.image}}" class="user_img">

                                            </div>
                                        </div>
                                        <div class="col user_details" ng-if="conection.buisness_name!==null">
                                            <div class="user_name" ng-click="other(conection.id)">{{conection.fname}} {{conection.lname}}</div>
                                            <div class="user_desig"><i class="material-icons">card_travel</i> {{conection.occupation}}</div>
                                            <div class="user_address"><i class="material-icons">location_city</i> New York, USA</div>
                                        </div>
                                         <div class="col Businessuser_details" ng-if="conection.fname===null" >
                                            <div class="Businessuser_name">{{conection.buisness_name}}</div>
                                            <div class="Businessuser_desig">{{conection.occupation}}</div>
                                           
                                        </div>
                                        <div class="col col-30 user_choice">
                                          <button ng-click="unfollow(conection.user_id)" >  <!--<i class="material-icons">lock_outline</i>-->Unblock</button>

                                        </div>

<!--                                        <button class="job_button">Unfollow <i class="material-icons">camera_rear</i></button>-->
                                        </div>

                                    </div>
                                </li>                                           
                            </ul>
                                <ul class="list user_list" ng-if="value==='null'">

                                   <li class="item emty_data">
                                    

                                        <!--<div class="col Businessuser_details">
                                            <div class="Businessuser_name">No Followers Found</div>
                                            <div class="Businessuser_desig"></div>
                                            <div class="Businessuser_foollowing"></div>
                                        </div>-->
                                         
                                                         No Data Found
                                                                          
                                           

                                </li>                                              
         </ul>

                            </div>    
                        </md-content>
                    </md-tab>                   
          </md-tabs>
      


      

  </ion-content>

    
    
<!--
  <ion-footer-bar class="bar-positive tabs tabs-stable already_sign">
    	<a class="tab-item tab-item-active" ui-sref="common.login">Already have an acount?<span>Sign In</span></a>
  </ion-footer-bar>     
-->
    
</ion-view>
