<ion-view class="walkthrough-view multi-bg-outer" style="background-image: url('img/background.jpg')" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      
      

    <div class="col col-center slider-col">
      	<img ng-src="img/logo.png" class="app_logo">
        <h3 class="pl_for">A Creative Platform for<br>Creative People</h3>
    </div>    
 


      
      
      
      
      
      
      
    </div>    
      
      
    <div class="bottom-content row">
      <div class="col col-center"><a class="sign-up button button-block button-stable" >JOIN NOW</a></div>
    </div>
    <ion-footer-bar class="bar-positive tabs tabs-stable">
    	<a class="tab-item tab-item-active" >SIGN IN</a>
    </ion-footer-bar> 
      
  </ion-content>
</ion-view>